<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ondrej.mejzlik.suntrail">

    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme.NoActionBar.SunTrail">
        <activity
            android:name=".activities.MainMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
         No history does not keep the activity on stack. We do not want this
         because once the user leaves for the scanner, we want to return to main menu
         from there.
        -->
        <activity
            android:name=".activities.InfoScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllBoardsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>